/*
    resources:
    https://www.w3schools.com
    https://www.youtube.com/@KevinPowell/videos
    https://stackoverflow.com/questions/62721852/manipulate-a-checkbox-to-have-css-rotate-when-unchecked

    assets:
    https://www.pexels.com/
*/

:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);

    --nav-primary: rgba(60, 60, 60, 0.7);
    --nav-sceondary: rgba(240, 240, 240, 0.7);
    --hero-primary: rgba(0,0,0,0.5);
    --background-primary: gainsboro;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, century gothic;
    background-color: var(--background-primary);
    /* for intersection observer on mobile */
    overscroll-behavior-y: none;
}

main {
    position: relative;
    animation: slide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {left: -1000px; top: 0px; opacity: 0;}
    to {left: 0px; top: 0px; opacity: 1;}
}

.hero-image {
    background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/home.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.analytics {
    background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login {
    background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pantry {
    background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/pantry.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profile {
    background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.recipe {
    background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/recipe.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.shared {
    background: linear-gradient(var(--hero-primary), var(--hero-primary)), url("../img/shared.webp");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    inset: 70% 0 0 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px black;
}

.nav-menu {
    background-color: var(--nav-primary);
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    transition: top 0.6s;
}

.toast-message {
    z-index: 1;
}

.nav-menu img {
    display: block;
    margin: 30px 0px 50px 15px;
}

nav {
    background-color: var(--nav-primary);
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin: 2em 0em 1em 1em;
}

nav a[aria-current="page"] {
    border-bottom: 3px solid DodgerBlue;
}

nav a {
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    transition: 1s;
}

nav a:hover,
nav a:focus {
    color: black;
    text-shadow: 2px 2px white;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    display: block;
}

.nav-toggle-label {
    position: absolute;
    top: 15px;
    right: 0;
    margin-right: 1.5em;
}

span {
    font-size: 30px;
    color: white;
    transition: 1s;
}

span:hover {
    border-radius: 4px;
    background: gray;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}

.about {
    margin-left: 20px;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section p, h2 {
    display: block;
    text-align: center;
}

.button, button {
    background: #aed9ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}

.uploadimg {
  margin-bottom: 20px;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-color: gray;
  transition: 1s;
}

.uploadimg:hover {
  background-color: gray;
  color: white;
}

.form-field input {
    margin: 5px;
}

details {
  width: 64%;
  margin: 0 auto ;
  background: none;
  margin-bottom: .5rem;
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  background: #333;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  color: white;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

.card {
    background-color: white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

input:invalid:not(:placeholder-shown):not([type="date"]) {
    border-color: red;
}

input[type="date"]:invalid {
    border-color: red;
}

input[type="date"]:not(:focus) {
    border: thin solid grey;
    border-radius: 2px;
}

label {
    padding-top: 10px;
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 10px;
}

footer p,a {
    color: white;
    text-shadow: 2px 2px black;
}

table {
    width: 100%;
    border-collapse;
}

th, td {
    border: 1px solid black;
}

th {
    text-align: left;
    background-color: DodgerBlue;
    color: white;
    text-shadow: 2px 2px black;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* mobile first viewport */
@media (min-width: 50em) {
    nav {
        top: 30px;
        background: none;
        display: block;
    }

    nav li {
        display: inline;
    }

    nav a {
        font-size: 1.4rem;
        padding:  0.6em;
    }

    nav h1 {
        text-align: left;
    }

    .card {
        background-color: white;
        margin: 20px 200px 20px 200px;
        padding: 20px 20px;
        border-radius: 10px;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .slant {
        margin: 150px;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    span {
        display: none;
    }
}